@font-face {
    font-family: Lato-Regular;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}